html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: "Anonymous Pro", monospace! important;
    width: 100%;
    height: 100%;
    margin: 0;

}

.subtitle {
    text-align: center;
    font-size: 26px;
    margin: 0px 20px 20px;
}

.hamMenu {
    visibility: hidden;
    position: absolute;
    left: 18px;
    top: 20px;
    z-index: 2;
}


.icon {
    font-size: 24px !important;
    cursor: pointer;
}

.icon:hover {
    color: #4ACF50;
}

.ham {
    width: 35px;
    height: 5px;
    background-color: #4CAF50;
    margin: 6px 0;
}

.navigationBar {
    width: 0;
    align-items: center;
    flex-direction: column;
    display: flex;
    background: black;
    color: white;
    height: 100%;
    flex: 2;
    transition: .2s all; /* Animation */
    visibility: visible;
}

@media screen and (max-width: 600px) {
    .subtitle {
        text-align: right !important;
    }
    .navigationBar {
        flex: 0;
        visibility: hidden;
    }
    .navigationBar .open {
        flex: 2;
    }
    .hamMenu {
        visibility: visible;
        cursor: pointer;
    }
    .title {
        text-align: right;
        padding-right: 10px;
        width: 100%;
    }
}

.open {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    visibility: visible !important;
    z-index: 2;
}

.open .hamMenu {
    visibility: hidden;
    pointer-events: none;
}

#root {
    height: 100%;
    width: 100%;
}

.projectContainer {
    width: 100%;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    padding: 10px;
}

.page {
    display: flex; 
    flex: 8; 
    background: #0f0f0f;
    color: white;
    overflow: auto;
}

.light {
    background: white !important;
    color: black;
}

.button {
    transition: .1s all;
    background-color: transparent; /* Green */
    padding: 7px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    border: 2px solid #4CAF50;
    cursor: pointer;
    color: #4CAF50 !important;
}

button {
    transition: .1s all;
    background-color: transparent; /* Green */
    padding: 7px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    border: 2px solid #4CAF50;
    cursor: pointer;
    color: #4CAF50 !important;
}

button:hover {
  box-shadow: 0 5px 15px #4CAF50;
}
.button:hover {
  box-shadow: 0 5px 15px #4CAF50;
}

.active {
    color: #4CAF50;
    filter: brightness(0) saturate(100%) invert(49%) sepia(95%) saturate(292%) hue-rotate(73deg) brightness(100%) contrast(90%);
}

.closeMenu {
    visibility: hidden;
    z-index: 3;
}

.open .closeMenu {
    position: absolute;
    right: 10px;
    font-size: 40px;
    visibility: visible;
}

.closeMenu:hover {
    cursor: pointer;
    color: #4CAF50;
}

.navigationButton {
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

.navigationButton:hover {
    cursor: pointer;
    color: #4CAF50;
}

.weLink {
    filter: invert(1);
    vertical-align: top;
    margin-top: 13px;
    height: 30px;
}

.weLink:hover {
    cursor: pointer;
    filter: invert(64%) sepia(9%) saturate(2886%) hue-rotate(72deg) brightness(90%) contrast(84%);;
}

a {
    color: #4CAf50;
}

.screenshotContainer .hint {
    transition: .4s all;
    opacity: 0;
    padding: 5px; 
}

.screenshotContainer:hover .hint {
    opacity: 1;
}

.screenshotContainer img {
    box-shadow: 0px 0px 5px 3px #4CAF50; 
}

.static img {
    box-shadow: none;
}

.screenshotContainer:hover img {
    box-shadow: none; 
}

.screenshotContainer {
    background: #0f0f0f;
    transform-origin: top right;
    flex: 1; 
    flex-direction: column;
    font-size: 6px;
    height: auto; 
    transition: .4s all; /* Animation */
}


.screenshotContainer:hover {
    transform: scale(2.4);
    transform-origin: top right;
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px #4CAF50; 
    z-index: 3;
}

.static {
    transform: scale(1) !important;
    transition: none;
    flex: 3;
    cursor: default;
    box-shadow: none !important;

}

.profilePicture {
    height: auto;
    aspect-ratio: 1/1;
    border: 4px solid #4CAF50;
    border-radius: 50%;
    margin: 10%;
}

h1 {
  position: relative;
  font-size: 64px !important;
  color: hsl(0, 0%, 68%);
  color: #4CAF50 ;
  font-weight: bold !important;
  letter-spacing: 7px! important;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
    margin: 0;
  animation: typewriter 1.5s steps(30) .3s 1 normal both,
    blinkTextCursor 750ms infinite;
}


@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 320px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }